<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Population</th>
            <!-- Add more table headers for other fields -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let city of displayedCities">
            <td>{{ city.name }}</td>
            <td>{{ city.country }}</td>
            <td>{{ city.population }}</td>
            <!-- Render more table cells for other fields -->
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="loadMoreCities()" *ngIf="displayedCities.length < cities.length">
        Load More
      </button>
    </div>
    <div class="col-md-6">
      <p>Dummy text content</p>
    </div>
  </div>
</div>
